/target/classes/com/gcit/client/Client.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/maven-archiver/pom.properties
/target/SocketCLient-1.0-SNAPSHOT.jar
/.idea/workspace.xml
